body {
  background-color: forestgreen;
  text-align: center;
  font-weight: italic;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-transform: full-width;
}
img {
  max-width: 100%;
}

#exercises {
  background-color: white;
}

h1{
  color: black;
  text-decoration: none;
  border-bottom: solid;
}
h2{
  color: black;
  text-decoration: none;
}

a:hover{
  color: blue;
}

a:active{
  color: brown;
}
