#container{
  width: 50px;
  margin: 50px, 100px;
  align-self: center;
}

body{
  background-color: lightgreen;
  margin-left: 30mm;
  margin-right: 30mm;
}
img{
  max-width: 100%;
}
p{
  text-indent: 10mm;
  font-family: monospace;
}
h1{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
h2{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
h3{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
li{
  font-family: monospace;
}
