body{
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3{
  width: 75px;
  height: 125px;
  float: right;
  margin: -25px;
  opacity: 1.5;
}
.tile1 {
  background-color: orange;
}
.tile2 {
  background-color: brown;
}
.tile3 {
  background-color: yellow;
}
.tile4 {
  background-color: red;
}
