body {
  background-color: lightgreen;
  text-align: center;
  font-weight: italic;
  font-family: sans-serif;
  letter-spacing: 3px;
  text-transform: full-width;
  margin: 100mm;
}
img{
  max-width: 100%;
}
p{
  text-indent: 50mm;
  font-family: monospace;
  text-align: center;
}
h1{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
h2{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
a:visited{
  color: darkred;
}
a:hover{
  color: red;
  text-decoration: none;
}
