body {
  background-color: orange;
  text-align: center;
  font-weight: italic;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-transform: full-width;
}
img{
  max-width: 100%;
}
p{
  text-indent: 20mm;
  font-family: monospace;
}
h1{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
