body{
  background-color: orange;
  margin-left: 30mm;
  margin-right: 30mm;
}
img{
  max-width: 100%;
}
p{
  text-indent: 20mm;
  font-family: monospace;
}
h1{
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
