#board {
  width: 1440px;
  margin: 10px auto;
}
.tile1 {
  width: 1440px;
  float: center;
}
h1{
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  font-size: 100px;
}
h2{
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3{
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 25px;
}
h4{
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
  font-weight: lighter;
}
.tile2 {
  width: 560px;
  float:left;
}
.tile3 {
  width: 560px;
  float: right;
}
.extratile {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
