#board {
  width: 1030px;
}
.tile1 {
  width: 100px;
  height: 410px;
  background-color: red;
  margin: 10px;
  float: left;
}
.tile4 {
  width: 100px;
  height: 410px;
  background-color: red;
  margin: 10px;
  float: right;
}
.tile2 {
  width: 750px;
  height: 105px;
  background-color: black;
  margin: 10px;
  float: left;
}
.tile3 {
  width: 370px;
  height: 400px;
  background-color: blue;
  margin: 5px;
  float: left;
}
